.border {
  border: 4px solid black;
  position: absolute;
}

.horizontal {
  width: 300px;
}

.margin-top {
  margin: 200px 0 0 50px;
}

.margin-bottom {
  margin: 300px 0 0 50px;
}

.vertical {
  height: 300px;
}

.margin-left {
  margin: 100px 0 0 150px;
}

.margin-right {
  margin: 100px 0 0 250px;
}

.click {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 3px;
}

.click.row-0.column-0 {
  margin: 100px 0 0 50px;
}

.click.row-0.column-1 {
  margin: 100px 0 0 150px;
}

.click.row-0.column-2 {
  margin: 100px 0 0 250px;
}

.click.row-1.column-0 {
  margin: 200px 0 0 50px;
}

.click.row-1.column-1 {
  margin: 200px 0 0 150px;
}

.click.row-1.column-2 {
  margin: 200px 0 0 250px;
}

.click.row-2.column-0 {
  margin: 300px 0 0 50px;
}

.click.row-2.column-1 {
  margin: 300px 0 0 150px;
}

.click.row-2.column-2 {
  margin: 300px 0 0 250px;
}

.mark {
  font-size: 60px;
  margin: 13px 0 0 28px;
}

#above-msg {
  margin: 50px 0 0 50px;
}








